{
    "Client": {
        "Version": {
            "FirstRun": "false",
            "Release": {
                "FirstRun": "false",
                "LastBuildVersion": "15162",
                "LastSeenPatchNotesVersion": "15162"
            }
        },
        "Toasts": {
            "ScreenPosition": "BottomRight",
            "Monitor": "0"
        },
        "AutoStartMinimized": "true",
        "AutoLogin": "true",
        "GameSearch": {
            "PerformedSearch": "true"
        },
        "GameLaunchWindowBehavior": "2",
        "DefaultStartupScreen": "1",
        "Install": {
            "LastUserDownloadLimitNextPatchInBps": "1000000",
            "CreateDesktopShortcut": "false",
            "DownloadLimitNextPatchInBps": "0",
            "PauseUpdatesWhenLaunching": "false"
        },
        "MatureLanguageFilter": "false",
        "Voice": {
            "InputDeviceVolume": "100"
        },
        "Sound": {
            "Enabled": "false"
        }
    }
}
