{
	"User": {
		"Client": {
			"Windows": {
				"BrowserMainWindow": {
					"WindowState": "0",
					"WindowPosition": "@Point(160 16)",
					"WindowSize": "@Size(1600 1000)"
				}
			},
			"HasSeenFirstTimeExperience": "true",
			"HideOnClose": "false",
			"DisplayExitPrompt": "false",
			"SendTypingNotifications": "false",
			"ChatWindowFlash": "false",
			"HideToastsWhenFSApp": "false",
			"HideToastsWhenPlaying": "false",
			"ToastsEnabled": "false",
			"WindowShowNotificationCount": "false",
			"WindowNotificationShown": "true"
		},
		"Notifications": {
			"GameUpdateStarted": {
				"Toasts": "false"
			}
		}
	}
}
