/* `userContent.css`
    OLED Theme
    
    1. Always add `!important;` to each rule.
    2. Do not delete comments.
    3. Do not use `moz-selection`, legacy option.
 */

/* Blue highlight selected text */
::selection {
	background: #0a84ff !important;
	color: #fff !important;
}

/* Black background in `about:blank` and in `about:newtab` */
@-moz-document url("about:blank"), url("about:newtab") {
	html {
		background: #000 !important;
	}
}

@-moz-document url-prefix("about:") {
	/* Black Background in `about:addons' */
	/* tokens-brand.css | chrome://global/skin/design-system/tokens-brand.css */
	@layer tokens-foundation {
		:root,
		:host(.anonymous-content-host) {
			/* --background-color-canvas: light-dark(var(--color-white), var(--color-gray-90)); */
			--background-color-canvas: #000 !important;
		}
	}

	/* Black Background in tables in `about:preferences' */
	/* tokens-shared.css | chrome://global/skin/design-system/tokens-shared.css */
	@layer tokens-foundation {
		:root,
		:host(.anonymous-content-host) {
			--background-color-box: #000 !important;
		}
	}

	/* Blue background when hover categories in `about:preferences` */
	/* common-shared.css | chrome://global/skin/in-content/common-shared.css */
	:host(.anonymous-content-host),
	:root {
		/* --in-content-button-background-hover: color-mix(in srgb, currentColor 14%, transparent); */
		--in-content-button-background-hover: #0a84ff !important;
		/* Blue background when hover perfs in `about:config` */
		/* --in-content-item-hover: color-mix(in srgb, var(--in-content-primary-button-background) 20%, transparent); */
		--in-content-item-hover: #0a84ff !important;
	}

	/* Blue background when hover menu item on `about:addons` */
	/* tokens-brand.css | chrome://global/skin/design-system/tokens-brand.css */
	@layer tokens-foundation {
		:root,
		:host(.anonymous-content-host) {
			/* --button-background-color-hover: color-mix(in srgb, currentColor 14%, transparent); */
			--button-background-color-hover: #0a84ff !important;
		}
	}

	/* Compact add-on cards on `about:addons` */
	/* aboutaddons.css | chrome://mozapps/content/extensions/aboutaddons.css */
	.addon.card {
		/* margin-bottom: 16px; */
		/* transition: opacity 150ms, box-shadow 150ms; */
		margin-bottom: 3px !important;
		transition: opacity 0ms, box-shadow 0ms !important;
	}

	/* Hide `Firefox Support` on `about:preferences` */
	#helpButton,
    /* Hide `Add-ons Support` on `about:addons` */
    #help-button {
		display: none !important;
	}
}
