/* userContent.css */
/* OLED Theme */

/* Guidelines: */
/* Add `!important;` to each rule, otherwise it won't apply. */

/* Global settings */
*,
*::before,
*::after {
	/* Disable animation */
	animation: none !important;
	/* Disable transition (causes breakage on google login page so don't disable completly) */
	transition-duration: 0.001s !important;
	transition-delay: 0s !important;
	/* Square borders */
	border-radius: 0px !important;
}

/* Highlight in blue the selected text and make the text white */
::selection {
	background: #0a84ff !important;
	color: white !important;
}

/* Black background in `about:blank` and in `about:newtab` */
@-moz-document url("about:blank"), url("about:newtab") {
	html {
		background: black !important;
	}
}

@-moz-document url-prefix("about:") {
	@layer tokens-foundation {
		:root,
		:host(.anonymous-content-host) {
			/* Black Background in tables in `about:preferences' */
			--background-color-box: black !important;
			/* Black Background in `about:addons' */
			--background-color-canvas: black !important;
			/* Blue background when hover menu item on `about:addons` */
			--button-background-color-hover: #0a84ff !important;
			/* Blue accent color in `about:addons` */
			--color-accent-primary: #0a84ff !important;
			/* Small spacing between checkboxes in `about:preferences` */
			--space-small: 0px !important;
			--space-large: 0px !important;
		}
	}

	:host(.anonymous-content-host),
	:root {
		/* Blue background when hover categories in `about:preferences` */
		--in-content-button-background-hover: #0a84ff !important;
		/* Blue background when hover perfs in `about:config` */
		--in-content-item-hover: #0a84ff !important;
		/* White text for active button */
		--in-content-primary-button-text-color: white !important;
	}

	.addon.card {
		/* Compact add-on cards on `about:addons` */
		margin-bottom: 3px !important;
	}

	/* Hide `Firefox Support` on `about:preferences` */
	#helpButton,
    /* Hide `Add-ons Support` on `about:addons` */
    #help-button {
		display: none !important;
	}

	/* Create a line below selected category in `about:addons` to indicate currently active category */
	#categories > .category[selected],
	#categories > .category.selected {
		color: white !important;
		position: relative !important;
	}
	#categories > .category[selected]::after,
	#categories > .category.selected::after {
		content: '' !important;
		position: absolute !important;
		bottom: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 2px !important;
		background-color: #0a84ff !important;
	}

	/* Compact context menu when clicking on `More Options` in `about:addons` for an extenstion */
	panel-list {
		padding: 0px !important;
	}

	/* Red background on `Remove` on `about:logins` */
	button.ghost-button:has(
			> span[data-l10n-id='about-logins-login-item-remove-button']
		),
	/* Red background on `Remove` confirm dialog on `about:logins` */
	button[data-l10n-id='about-logins-confirm-remove-dialog-confirm-button'] {
		background: red !important;
		color: white !important;
	}
	/* Dark red background on `Remove` on `about:logins` on hover */
	button.ghost-button:has(
			> span[data-l10n-id='about-logins-login-item-remove-button']
		):hover,
	/* Dark red background on `Remove` confirm dialog on `about:logins` on hover */
	button[data-l10n-id='about-logins-confirm-remove-dialog-confirm-button']:hover {
		background: darkred !important;
	}

	/* Highlight in blue hover checkboxes in `about:preferences` */
	checkbox:hover > .checkbox-check {
		box-shadow: 0 0 0 1px #0a84ff !important;
	}
	/* Round blue hover ring for radios in about:preferences (outside) */
	radio:hover > .radio-check {
		box-shadow: 0 0 0 1px #0a84ff !important;
	}
	/* Highlight in blue hover checkboxes and rings for `about:addons` */
	.radio-check:hover,
	.checkbox-check:hover,
	input:where([type='checkbox'], [type='radio']):hover {
		box-shadow: 0 0 0 1px #0a84ff !important;
	}

	.updateSettingCrossUserWarningContainer {
		/* Compact spacing between settings in `about:preferences` */
		margin-block-end: 0px !important;
	}

	.info-box-container {
		/* Compact spacing for info boxes in `about:preferences` */
		padding: 0px !important;
	}
}
