QWidget {
	background-color: black;
}

QCheckBox::indicator:checked:hover,
QCheckBox::indicator:hover,
QCheckBox::indicator:on:hover,
/* Don't use `QComboBox::item:selected`, it will mess with indentation */
QComboBox:hover,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:hover,
QGroupBox::indicator:on:hover,
QLineEdit:hover,
QListView::item:hover,
QListView::item:selected,
QMenu::item:hover,
QMenu::item:selected,
QMenuBar::item:hover,
QMenuBar::item:selected,
QPlainTextEdit:hover,
QPushButton:hover,
QRadioButton::indicator:checked:hover,
QRadioButton::indicator:hover,
QRadioButton::indicator:on:hover,
QScrollBar::handle:horizontal:hover,
QScrollBar::handle:vertical:hover,
QSpinBox:hover,
QTabBar::tab:hover,
QTabBar::tab:selected,
QTableView::item:hover,
QTableView::item:selected,
QToolButton:hover,
QToolButton:selected,
QTreeView::item:hover,
QTreeView::item:selected {
	background-color: rgb(50, 50, 50);
}

QCheckBox::indicator,
/* Don't use `QComboBox`, it will mess with lenght of text from dropdownlist */
QGroupBox::indicator,
QLineEdit,
QListView,
QPlainTextEdit,
QRadioButton::indicator,
QScrollBar::horizontal,
QScrollBar::vertical,
/* Don't use `QSpinBox`, it will mess with arrow sizes */
QTableView,
QTextEdit,
QTreeView {
	border: 1px solid rgb(80, 80, 80);
}

QCheckBox::indicator:checked,
QCheckBox::indicator:on,
QGroupBox::indicator:checked,
QGroupBox::indicator:on,
QRadioButton::indicator:checked,
QRadioButton::indicator:on {
	background-color: deepskyblue;
}

QProgressBar {
	text-align: center;
	background-color: rgb(50, 50, 50);
}

QScrollBar::add-line,
QScrollBar::sub-line {
	background: none;
	border: none;
}

QScrollBar::handle:horizontal,
QScrollBar::handle:vertical {
	background-color: rgb(80, 80, 80);
}
